<!DOCTYPE html>

<!--Thymeleaf activated-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Register Page</title>
        <!-- Integrate bootstrap   -->
        <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/custom.css}" type="text/css"/>
        <link rel="stylesheet" href="/aroma-template/css/style.css">

    </head>

    <body>
        <!--================ Start Header Menu Area =================-->
        <div id="backToLogin" > <a href="/login" class="btn btn-primary" style="margin: 1%;">Back to Login</a></div>
        <div id="registerTitle"><h1 id="blueColor">Register</h1></div>
        <section class="registerPadding registerPage">
                <div class="registerForm">
                    <div class="card customPadding">
                    <form method="post" th:action="@{/register}" th:object="${userDto}">
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row mb-4">
                    <div class="col">
                        <div class="form-outline">
                            <input class="form-control" id="form3Example1" th:field="*{firstName}" type="text"/>
                            <label class="form-label" for="form3Example1">First name</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <input class="form-control" id="form3Example2" th:field="*{lastName}" type="text"/>
                            <label class="form-label" for="form3Example2">Last name</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <input class="form-control" id="form3Example3" th:field="*{dateOfBirth}" type="date"/>
                            <label class="form-label" for="form3Example2">Date of birth</label>
                        </div>
                    </div>
                </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                    <input class="form-control" id="form3Example4" th:field="*{email}" type="email"/>
                    <label class="form-label" for="form3Example3">Email address</label>

                    <p class="error-message"
                       th:each="error: ${#fields.errors('email')}"
                       th:text="${error}"></p>
                </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                    <input class="form-control" id="form3Example5" th:field="*{password}" type="password"/>
                    <label class="form-label" for="form3Example4">Password</label>
                </div>

                        <!-- Auction participants and administrator -->
                        <div class="form-outline mb-4">
                    <div class="form-check">
                        <input class="form-check-input" id="flexRadioDefault1" name="flexRadioDefault" th:field="*{isAdmin}"
                               th:value="false" type="radio">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Auction participant
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" id="flexRadioDefault2" name="flexRadioDefault" th:field="*{isAdmin}"
                               th:value="true" type="radio">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Auction administrator
                        </label>
                    </div>
                </div>

                        <!-- Submit button -->
                        <button class="btn btn-primary btn-block mb-4" type="submit">Sign up</button>

                    </form>
                    </div>
                </div>
        </section>
    </body>
</html>